/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-image: linear-gradient(to bottom, #af67e9, #9f67e9, #8d66e9, #7a66e8, #6565e7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  font-family: 'Kumbh Sans', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.attribution { font-size: 11px; text-align: center; }
      .attribution a { color: hsl(228, 45%, 44%); }
main{
  background-color: white;
  border-radius: 1.5rem;
  padding: 6rem 1.3rem 2rem 1.3rem;
  
}
.test{
  position: relative;
}


.illustration{
  width: 80%;
  position: absolute;
  bottom: 2rem;
  left: 10%;
}

.pattern{
  width: 80%;
  position: absolute;
  left: 10%;
  bottom: .6rem;
}

.desktop,.pat{
  display: none;
}

h1{
  text-align: center;
  padding-bottom: 1rem;
}

.accordian-item{
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question, .question-active{
  font-size: .8rem;
}

.question-active{
  font-weight: bold;
}

.question:hover{
  color: hsl(14, 88%, 65%);
}

.icon{
  margin-left: 1.5rem;
  transition: .5s;
}

.icon-active{
  transform: rotate(180deg);
  transition: .5s;
}
.answer{
  font-size: .7rem;
  min-width: 100%;
  width: 0;
  padding-top: .5rem;
  transition: .5s;
}

@media only screen and (min-width: 400px) {
  main{
    display: flex;
    padding: 0;
  }
  .test{
    width: 470px;
  }
  .info{
    padding: 5rem 7rem 7rem 5rem;
  }

  .illustration, .pattern{
    display: none;
  }

  
  .over{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .desktop{
    display: block;
    position: absolute;
    bottom: 7rem;
    left: -4rem;
    overflow: hidden;
    transform: scale(1);
  }

  .pat{
    display: block;
    position: absolute;
    bottom: 10rem;
    left: -24rem;
    transform: scale(2.4);
  }
  
  h1{
    text-align: left;
    font-size: clamp(1.6rem, 4vw, 2.4rem);
  }

  .question, .question-active, .answer{
    font-size: clamp(.8rem, 1.2vw, 1.4rem);
  }

  .icon{
    margin-left: 4rem;
    width: clamp(1rem, 2vw, 1.4rem);
 
  }

  .icon-active{
    margin-left: 4rem;
    width: clamp(1rem, 2vw, 1.4rem);
    
  }
}
